.formatoLetra {
    color: #9730FE;
    font-style: italic; /*texto de los titulos a italic*/
}

.formatoPagina{
    background-color : #DBF9FC; /*color de fondo de la pagina*/
    font-family: Tahoma, Arial, sans-serif; /*fuente de todo el texto*/
    font-size: 16px; /*tamaño de texto de los parrafos 16*/
}

ul{
    font-weight: bold; /*elementos de la lista de ingredientes a bold*/
}

img {
    border: 5px solid #000; 
    padding: 10px; /* Espacio entre el borde y la imagen*/
    margin: 10px; /* Espacio alrededor de la imagen*/
}
